@use '../utils' as *;

/*=============================
    Team
===============================*/
.team-card {
    .box-img {
        overflow: hidden;
        margin-bottom: 20px;
        img {
            width: 100%;
        }
    }
    .box-title {
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 4px;
        & span {
            color: var(--tg-theme-primary);
        }
        & a:hover {
            color: var(--tg-heading-color);
        }
    }
    .box-text {
        margin-bottom: -0.4em;
        font-family: var(--tg-heading-font-family);
    }
}